img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: calc(97.3333%);
    margin-left: calc(10%/6);
    padding: 1.0em 0;

}